$body-bg: black;
$site-font: Arial;

$primary-color: #292929;
$secondary-color: #5f3838;
$light-color: #cc9191;
$dark-color: #5a5a5a;

$container-width: 960px;

// functions
@function set-text-color($bg-color){
    @if(lightness($bg-color) > 50) {
        @return $dark-color;
    } @else {
        @return $light-color;
    }
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: $body-bg;
    color: $light-color;
    font-family: $site-font;
    text-align: center;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

.container {
    max-width: $container-width;
    margin: auto;
    padding: 0 20px;
}

header #main-header{
    padding: 1em;
    background: $primary-color;
    color:set-text-color($primary-color);

    h1 {
        font-size: 40px;
    }
}

nav#main-nav {
    background-color: $secondary-color;
    height: 40px;

    ul{
        list-style: none;
        padding-top: 10px;
    }

    li{
        display: inline;
    }

    a{
        padding-right: 20px;
        color:set-text-color($secondary-color);;
        &:hover{
            color: #ccc;
        }
    }
}
